body{
    margin: 0;
    background: #1A1A1B;
    font-family: "Questrial", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #589151;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 20px;


}

.header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 30px;
    font-size: 2rem;
}

.app_name{
    margin: 5px;
}

.header span{
    font-weight: 100;
    font-style: italic;
}

.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    
}

.card{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: .4s;
}

.card:hover{
    background-color: #2b2b2b ;
}

.card_img img{
    max-width: 100px;
    margin: 1rem;
    border-radius: 5px;
}

.playlist_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 0px 20px 0px 0px;
}